<ion-content>
<!--  <center><h1>Weather detail</h1></center>-->
  <div style="height: 200px">
<!--    <div class="bckimage"></div>-->
    <div class="bckimage">
      <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="feature-image" />
    </div>
    <ion-text color="light">
      <center><h1 style="margin-top: 70px">{{city | titlecase}}</h1></center>
    </ion-text>
    <center><h1></h1></center>
  </div>
  <div style="margin-left: 10px;font-size: 18px">
    <div>Temprature - {{celsius}} °C</div>
    <div>Description - {{weatherDesc}}</div>
    <div>Wind speed - {{windSpeed}} Kmph</div>
    <div>Sunrise - {{sunRise}}</div>
    <div>Sunset - {{sunSet}}</div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="presentToast('top',city)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle" [routerLink]="['/home']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
