.bckimage {
  //background-size: 100%;
  //background:  url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  filter: blur(2px);
  //background-position: center center!important;
  //background-repeat:no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
