<ion-header class="bar bar-subheader">
  <ion-toolbar color="primary">
     <ion-menu-button auto-hide="false" slot="start" id="main-content"></ion-menu-button>
    <ion-title [routerLink]="['/home']">Weather App <ion-icon name="cloud" size="medium"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<ion-router-outlet id="menu-content"></ion-router-outlet>
<ion-content >
  <ion-card color="primary" *ngFor="let cityDetail of cities" class="bckimage">
    <ion-card-header (click)="validateClick(cityDetail.name)">
      <ion-card-title class="textopa">{{cityDetail.name | titlecase}} {{cityDetail.celsius}} °C</ion-card-title>
    </ion-card-header>

    <ion-card-content class="textopa">
      {{cityDetail.description | titlecase}}
    </ion-card-content>
    <div style="float: right;">
      <ion-button class="textopa" color="warning" item-end size="small" (click)="removeCity(cityDetail.id,cityDetail.name)">Remove</ion-button>
    </div>
  </ion-card>

  <div>
    <strong>Weather App</strong>
    <br>

    <ion-item>
      <ion-label position="floating">Enter City name</ion-label>
      <ion-input type="text"  [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-button (click)="presentAlert()">Alert box</ion-button>
    <ion-button (click)="validateClick(city)" >Click Me to get weather details</ion-button>

    <br>
  </div>
</ion-content>
